.formulario-contacto .field, .formulario .field {
  border-radius: 30px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.formulario-contacto .fields, .formulario .fields {
  margin: 5px;
  padding: 6px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
}

.formulario-contacto label, .formulario label {
  padding: 7px;
  border-radius: 30px;
  margin: 10px;
  font-weight: bold;
}

.boxs .box-3, .boxs .box-2, .boxs .box-1 {
  padding: 5px;
  border-radius: 20px;
  margin: 10px;
}
.boxs .box-3 i, .boxs .box-2 i, .boxs .box-1 i {
  font-size: 60px;
  color: orange;
}

body .mas-sobre {
  height: 600px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.formulario {
  width: 700px;
}
.formulario .field {
  background-color: white;
}
.formulario .fields {
  background-color: white;
}
.formulario label {
  background-color: orange;
}
.formulario select, .formulario input {
  text-align: center;
  border-radius: 30px;
  border: 0px;
}

.formulario-contacto {
  width: 600px;
}
.formulario-contacto .field {
  background-color: white;
}
.formulario-contacto .fields {
  background-color: white;
}
.formulario-contacto label {
  background-color: orange;
}
.formulario-contacto select, .formulario-contacto input {
  text-align: center;
  border-radius: 30px;
  border: 0px;
}
.formulario-contacto textarea {
  width: 400px;
  height: 200px;
}

.button {
  margin: 10px;
  padding: 5px;
  border-color: orange;
  background-color: orange;
  font-weight: bold;
}

.button--modificado {
  padding: 30px;
}

.boxs {
  padding: 40px;
}
.boxs .box-1 {
  background-color: white;
}
.boxs .box-2 {
  background-color: white;
}
.boxs .box-3 {
  background-color: white;
}

.h1-decoration {
  color: black;
  font-weight: bold;
  background-color: orange;
  border-radius: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  margin-top: 50px;
}

.carrusel .car-details h2 {
  font-size: 30px;
}

.carrousel-two {
  display: flex;
}

.tam-img {
  width: 450px;
  height: 300px;
}

.tam-img-nosotros {
  width: 700px;
  height: 400px;
}

.header {
  width: auto;
  height: 120px;
  background-color: white;
}
.header .container-fluid .row {
  height: 120px;
}
.header .container-fluid .row img {
  width: auto;
  height: 100px;
}
.header .head-2 {
  display: flex;
  width: auto;
  height: 100px;
}
.header .head-2 a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.header .head-2 i {
  font-size: 40px;
  color: orange;
}
.header .head-2 .sub-head {
  padding: 20px;
  color: black;
}
.header .head-2 .sub-head span {
  font-weight: bold;
}
.header .head-2 .sub-i {
  padding-bottom: 20px;
}

.container-fluid {
  padding-left: 100px;
  padding-right: 100px;
}

.nav-bar {
  background-color: orange;
}
.nav-bar a {
  color: black;
  font-size: 15px;
  font-weight: bold;
  height: 20px;
  padding: 0px;
  text-align: center;
  margin-right: 50px;
  border-radius: 10px;
}
.nav-bar a:hover {
  background-color: black;
  color: orange;
  height: 25px;
  transition: 1s;
  border-radius: 0px;
}

body {
  background-color: white;
}
body .alquiler {
  background-image: url("../media/pisaje.jpg");
  background-size: 100% 100%;
  background-position: center;
  height: auto;
  width: auto;
}
body .alquiler .color-h1 {
  padding-left: 40px;
  margin-top: 30px;
  width: 700px;
}
body .alquiler .tam-img {
  width: 60%;
  min-width: 75%;
}
body .alquiler h1 {
  font-size: 60px;
  font-weight: bold;
  color: white;
}
body .boxs h2 {
  font-size: 50px;
  padding-bottom: 10px;
}
body .mas-sobre {
  height: 500px;
  background-color: rgba(255, 200, 83, 0.6980392157);
}
body .mas-sobre h2 {
  font-size: 50px;
}

footer {
  padding-top: 50px;
}
footer img {
  width: auto;
  height: 100px;
}
footer i {
  font-size: 60px;
  color: orange;
}
footer h4 {
  font-weight: bold;
}
footer .derechos-footer {
  font-weight: bold;
  background-color: orange;
}
footer .icon-footer {
  display: flex;
  justify-content: space-around;
}
footer .preguntas-footer a {
  padding-bottom: 20px;
}
footer .preguntas-footer a:hover {
  font-weight: bold;
  color: orange;
}

/*# sourceMappingURL=styles.css.map */
