* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.formulario {
    width: 700px;
    .field {
        @include field ($color-blanco);
    }
    .fields {
        @include fields ($color-blanco);
    }
    label {
        @include label ($color-naranja);
    }
    select,input {
        text-align: center;
        border-radius: 30px;
        border: 0px;
    }
}
.formulario-contacto{
    width: 600px;
    .field {
        @include field ($color-blanco);
    }
    .fields {
        @include fields ($color-blanco);
    }
    label {
        @include label ($color-naranja);
    }
    select,input {
        text-align: center;
        border-radius: 30px;
        border: 0px;
    }
    textarea{
        width: 400px;
        height: 200px;
    }
}

.button {
    margin: 10px;
    padding: 5px;
    border-color: $color-naranja;
    background-color: $color-naranja;
    font-weight: bold;
}

.button--modificado {
    padding: 30px;
}

.boxs {
    padding: 40px;
    .box-1 {
       @include box(white);
    }
    .box-2 {
        @include box(white);
    }
    .box-3 {
        @include box(white);
    }    
}

.h1-decoration {
    color: black;
    font-weight: bold;
    background-color: $color-naranja;
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    margin-top: 50px;
}
.carrusel{
    margin-bottom: 30px;
    .car-details{
        h2{
            font-size: 30px;
        }
    }
}
.carrousel-two{
    display: flex;
}
.tam-img{
    width: 450px;
    height: 300px;
}
.tam-img-nosotros{
    width: 700px;
    height: 400px;
}



