* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.formulario {
    width: 700px;
    .field {
        @include field ($color-blanco);
    }
    .fields {
        @include fields ($color-blanco);
    }
    label {
        @include label ($color-naranja);
    }
    select,input {
        text-align: center;
        border-radius: 30px;
        border: 0px;
    }
}

.button {
    margin: 10px;
    padding: 5px;
    border-color: $color-naranja;
    background-color: $color-naranja;
    font-weight: bold;
}

.button--modificado {
    padding: 30px;
}

.boxs {
    padding: 40px;
    .box-1 {
       @include box($color-naranja-box);
    }
    .box-2 {
        @include box($color-naranja-box);
    }
    .box-3 {
        @include box($color-naranja-box);
    }    
}





