body {
    background-color: white;
    .alquiler {
        background-image: url("../media/pisaje.jpg");
        background-size: 100% 100%;
        background-position: center;
        height: auto;
        width: auto;
        padding: 40px;
        h1{
            font-size: 60px;
            font-weight: bold;
            color: white;
            margin-top: 30px;
        }
        @media (max-width:600px) {
           
                h1{
                    font-size: 50px;
                } 
            
           
        }
    }
    .reserva {
        background-image: url("../media/background-img-reserva_.jpg");
        background-size: 100% 100%;
        background-position: center;
        height: auto;
        width: auto;
        padding: 40px;
        h1{
            font-size: 60px;
            font-weight: bold;
            color: white;
            margin-top: 30px;
        }
        @media (max-width:600px) {
           
                h1{
                    font-size: 50px;
                } 
            
           
        }
    }
    .nuetra-flota{
        background-image: url("../media/nuestraflota-background-2.jpg");
        background-size: 100% 100%;
        background-position: center;
        height: auto;
        width: auto;
        padding: 40px;
        h1{
            font-size: 60px;
            font-weight: bold;
            color: white;
            margin-top: 30px;
        }
        @media (max-width:600px) {
           
                h1{
                    font-size: 50px;
                    color: black;
                } 
            
           
        }
        a:hover{
            background-color: black;
            color: orange;
        }
    }
    .nosotros{
        background-image: url("../media/foto-nosotros.jpg");
        background-size: 100% 100%;
        background-position: center;
        height: auto;
        width: auto;
        padding: 40px;
        height: 600px;
    }
    .contacto{
        background-color: #ffc853b2 ;
    }
    .boxs{
        h2{
            font-size: 50px;
            padding-bottom: 10px;
        }
    }
    .mas-sobre {
        height: 500px;
        
       @include foto-info (#ffc853b2);
    } 
    @media (max-width:992px){
        .mas-sobre {
            height: 800px;
            
           @include foto-info (#ffc853b2);
        } 
    }
    .flota-cards{
        img{
            width: 400px;
            height: 300px;
            @media (max-width:650px) {
                width: 300px;
                height: 250px;
            }
        }
        .card{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    
}





