footer{
    padding-top: 50px;
    img {
        width: auto;
        height: 100px;
    }
    i {
        font-size: 60px;
        color: orange;
    }
    h4{
        font-weight: bold;
    }
    .derechos-footer{
        font-weight: bold;
        background-color: orange;
    }
    .icon-footer{
        display: flex;
        justify-content: space-around;
    }
    .preguntas-footer{
        a{
            padding-bottom: 20px;
        }
        a:hover{
            font-weight: bold;
            color: orange;
        }
    }
}