.container-fluid{
    padding-left: 100px;
    padding-right: 100px;
}
.nav-bar{
    background-color: orange;
   
     li a{
        color: black;
        font-size: 15px;
        font-weight: bold;
        padding: 0px;
        text-align: center;
        margin-right: 50px;
        border-radius: 10px;
    }
    li a:hover {
        background-color: black;
        color: orange;
        height: 25px;
        transition: 1s;
        border-radius: 0px;
    }
    img{
        height: 50px;
        
    }
    a{
        margin: 0px;
    }
}